ul{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #64748B;
    margin-top: 32px;
    padding-left: 0px;
    margin-left: 0px;
    p{
        padding-right: 25px;
    }
    li{
        padding-right: 25px;
    }
}