.ad-page-block{
    display: flex;
    justify-content: space-between;
}
.ad-page-block-img{
    width: 856px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 24px;
}
.ad-page-block-discription{
    display: flex;
    flex-direction: column;
}