.mini-img-carousel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    margin-right: 10px;
    .mini-img-carousel-img{
        width: 120px;
        height: 84px;
        padding: 10px;
        margin-right:12px;
        border-style:solid;
        border-color: #ffffff;
        border-radius: 4px;
    }
    .mini-img-carousel-img:hover{
        border-color:#3B82F6;
    }
    }
    