.p-galleria{
    border-radius: 8px;
    box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.p-galleria-item{
    
    width: 856px;
}
.p-galleria-thumbnail-item{
    padding: 10px;
}
.p-galleria-thumbnail-items-container{
    padding: 10px 0;
}
.p-galleria-thumbnail-item-current{
    border-radius: 4px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;   
}
.p-galleria .p-galleria-item-nav{
    color:#3B82F6;
}
.p-galleria .p-galleria-thumbnail-container{
    background-color: transparent;
}
.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev,
 .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next{
color: #3B82F6;
}
